name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Nâng cấp lên phiên bản mới nhất

      - name: Set up JDK 17
        uses: actions/setup-java@v4 # Nâng cấp lên phiên bản mới nhất
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: project

      - name: Check dependencies
        run: ./gradlew dependencies --stacktrace
        working-directory: project

      - name: Build Debug APK
        run: ./gradlew assembleDebug --warning-mode all --stacktrace
        working-directory: project

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: debug-apk
          path: project/app/build/outputs/apk/debug/*.apk
